{% extends 'base.html' %}
{% block Content %}
    {% load static  %}
    <div class="bg-light">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">ZEON - Компьютерный клуб
                </h1>
                <p class="lead">Мы создаем киберспортивную среду для качественного отдыха, тренировок и проведения
                    кибер-мероприятий.</p>
            </div>
        </div>
    </div>
</header>
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 py-3 text-center">
                <div>Компьютерный клуб - это современное пространство для людей, увлеченных компьютерами и технологиями.
                    Мы предоставляем услуги по обучению компьютерной грамотности, а также организуем различные
                    мероприятия и турниры по компьютерным играм.
                </div>
            </div>
            <div class="col-12 col-md-6 py-3 text-center">
                <div>Мы убеждены, что компьютеры и технологии - это не просто инструменты для работы, но и интересное и
                    увлекательное занятие, которое может превратиться в хобби или даже профессию. Наша команда
                    профессионалов постоянно следит за последними тенденциями в сфере технологий и всегда готова
                    поделиться своими знаниями и опытом с нашими посетителями.
                </div>
            </div>
            <div class="col-12 py-3 text-center">
                <div>Приходите к нам в компьютерный клуб и откройте для себя мир компьютеров и технологий!</div>
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae96d0f827d1252c3719bcf83cf47b202c769813639352bb8e69c194bb731a1f5&amp;width=100%&amp;height=500px&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

