{% extends 'base.html' %}
{% block Content %}
    {% load static  %}
    <div class="bg-light">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">ZEON - Компьютерный клуб
                </h1>
                <p class="lead">Мы создаем киберспортивную среду для качественного отдыха, тренировок и проведения
                    кибер-мероприятий.</p>
            </div>
        </div>
    </div>
</header>
<div class="bg-white">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
{% endblock %}

