{% extends 'base.html' %}
{% block Content %}
    {% load static  %}
    <div class="bg-light">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">ZEON - Компьютерный клуб
                </h1>
                <p class="lead">Мы создаем киберспортивную среду для качественного отдыха, тренировок и проведения
                    кибер-мероприятий.</p>
            </div>
        </div>
    </div>
</header>
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequuntur culpa cum
                dignissimos, excepturi illum libero molestias natus nisi nulla omnis quos rerum veniam vero. Cupiditate
                dolorem necessitatibus quasi?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos facere inventore
                laboriosam nostrum quasi, qui ratione recusandae rerum tenetur, voluptates voluptatibus. Deleniti
                dolorem eaque esse, libero minima sequi temporibus!lorem Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Ab accusantium aliquam at beatae commodi debitis, deserunt ducimus enim hic impedit
                nobis officia pariatur perspiciatis quidem repudiandae sed sequi similique voluptate!lorem
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur consequuntur deleniti dolores eligendi esse fugit ipsum itaque minima mollitia, nihil nulla possimus provident quod quos, repellendus vitae voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dicta doloremque dolores eaque exercitationem magni maiores molestiae molestias obcaecati pariatur quae quaerat quas rem sapiente vel, voluptate voluptatum. Architecto, fugit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio dolorum eum fugit labore laudantium magnam minima nam nisi officiis omnis praesentium provident quae quaerat quam quo rerum saepe, ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa deserunt dicta distinctio dolorem dolores eligendi illo nam officia provident quaerat, quam quas reprehenderit, sed vero. Nemo perspiciatis quam saepe.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad asperiores blanditiis deserunt, dicta dignissimos dolores ducimus id inventore, molestiae neque nihil officiis omnis possimus quam quas saepe. Distinctio, dolorem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto assumenda consectetur corporis delectus, deleniti, ducimus earum exercitationem expedita facilis ipsam iusto non numquam optio pariatur reiciendis sapiente similique tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut, autem culpa cupiditate dolorum eligendi eos expedita fuga fugiat fugit impedit incidunt itaque maiores necessitatibus obcaecati, ratione sed ullam veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolor eaque fugit impedit laudantium minus officiis quis quo quos voluptas? Beatae cum eum exercitationem minus molestias, quo reiciendis reprehenderit sint.

            </div>
        </div>
    </div>
</div>
{% endblock %}

