{% extends 'base.html' %}
{% block Content %}
    {% load static  %}
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                1.Запрещено находиться лицам в состоянии алкогольного и наркотического опьянения

            </div>
            <div class="col-12 ">
               2.Запрещено посещение клуба лицам до 18 лет с 22:00-09:00.
            </div>
            <div class="col-12">
                3. Клуб не несет ответственности за пропажу забытых вещей.
            </div>
            <div class="col-12">
                4. Клуб вправе отказать в посещении без обьяснения причин
            </div>
            <div class="col-12">
                5. Запрещено нахождение в комнате с PS5 более 4-х человек
            </div>
            <div class="col-12">
                6. Администрация клуба имеет право удалить клиента без возврата денег, при нарушении правил клуба
            </div>

        </div>
    </div>
</div>
{% endblock %}


